.general-background-form{
    /* background-image: linear-gradient(65deg, rgba(251, 251, 251, 0.04) 0%, rgba(251, 251, 251, 0.04) 78%,rgba(51, 51, 51, 0.04) 78%, rgba(51, 51, 51, 0.04) 100%),linear-gradient(335deg, rgba(15, 15, 15, 0.04) 0%, rgba(15, 15, 15, 0.04) 41%,rgba(13, 13, 13, 0.04) 41%, rgba(13, 13, 13, 0.04) 100%),linear-gradient(274deg, rgba(157, 157, 157, 0.04) 0%, rgba(157, 157, 157, 0.04) 43%,rgba(253, 253, 253, 0.04) 43%, rgba(253, 253, 253, 0.04) 100%),linear-gradient(224deg, rgba(227, 227, 227, 0.04) 0%, rgba(227, 227, 227, 0.04) 23%,rgba(19, 19, 19, 0.04) 23%, rgba(19, 19, 19, 0.04) 100%),linear-gradient(305deg, rgba(243,255,2, 0.04) 0%, rgba(243,255,2, 0.04) 45%,rgba(250,233,12, 0.04) 45%, rgba(250,233,12, 0.04) 100%),linear-gradient(90deg, rgb(19,30,13),rgb(0,0,0)); */
    /* height: 100%; */
    background-image: url('src/style-site/bbblurry-3.svg');
    background-color: #1c1c1c;
    background-size: cover;
    background-position: center;
    height: 100%;
}

input, textarea, select {
    background: #1C1C1C;
    border: 1px solid #323232;
    color: #fff;
    height: 30px;
    line-height: 30px;
    width: 400px;
    padding: 0 10px;
}

.general-background-form label {
    color: rgb(170, 170, 170);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 2px;
}

.h2-signup-user{
    padding-top: 40px;
    text-align: center;
    color: rgb(170, 170, 170);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    letter-spacing: 2px;
}