.pie-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    /* width: 400px; */
    padding:20px
}

.pie-input-text{
    width: 200px;
    color:#facc15;
    margin: 10px;
}

.pie-orizzontal{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 80%;   
}

.pie-box-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:10px
}

.pie-achievement{
    margin: 5px;
    text-align: center;
}

.pie-list{
    border: 2px solid rgb(68, 68, 68);
    padding: 10px;
    border-radius: 7px;
    height: 110px;
    width: 150px;
    overflow-y: scroll;
}

.pie-list::-webkit-scrollbar {
    width: 10px;               
}

.pie-list::-webkit-scrollbar-thumb {
    background-color: rgb(68, 68, 68);  
    border-radius: 10px;       
    border: 3px solid rgb(62, 62, 62);  
}

.pie-list span{
    font-size: 10px;
}

.pie-list-line{
    background-color: rgb(68, 68, 68);
    width: 100px;
    height: 1px;
    margin:2px;
}