/*Worksleep*/
/* * {
    padding: 0;
    margin: 0;
} */

.containerbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    margin:5px;
    text-align: center;
}

.box {
    border: 1px solid #3f3f46;
    padding: 15px;
    border-radius: 8px;
    height: 200px;
    /* margin-bottom: 30px; */
    /* height: 70%; */
}

.box h2 {
    font-weight: bold;
}

.orediSonno{
    width: 235px;
}

.counter span{
    color : #facc15
}

.counter button {
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}

.allenamentiSett .counter{
    font-size: 40px;
    gap: 40px
}

/* .counter span {
    margin: 0 10px;
    font-size: 1rem;
} */

.sleep-hours {
    margin-top: 20px;
}

.sleep-hours input[type="range"] {
    width: 90%;
}


.button-action {
    margin-top: 10px;
}


.button-action button {
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}