/*Worksleep*/
/* * {
    padding: 0;
    margin: 0;
} */

.containerbox {
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    margin:5px;
}

.box {
    border: 2px solid #3f3f46;
    padding: 15px;
    border-radius: 8px;
    height: 170px;
    /* margin-bottom: 30px; */
    /* width: 60%; */
    /* height: 70%; */
}

.box h2 {
    font-weight: bold;
}

.orediSonno{
    width: 235px;
}

.counter button {
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}

.allenamentiSett{
    width: 150px;
    text-align: center;
}

/* .counter span {
    margin: 0 10px;
    font-size: 1rem;
} */

.sleep-hours {
    margin-top: 20px;
}

.sleep-hours input[type="range"] {
    width: 90%;
}


.button-action {
    margin-top: 10px;
}


.button-action button {
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}