.hero-container{
    display: flex;
    background-color: black;
    background-size: cover;
    background-image: url('/src/style-site/images-style/nnneon_1.svg');
    backdrop-filter: blur(100px);
    background-repeat: repeat;
    background-position-x: -72px;
    background-position-y: 471px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    height: 100vh;
    color: rgb(211, 211, 211);
    justify-content: space-between;
}
@media screen and (max-width: 900px){
    .hero-container{
        flex-direction: column;
    }
}

.central-container-hero{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
    overflow-y: scroll;
}

.central-container-hero::-webkit-scrollbar {
    width: 10px;               
}

.central-container-hero::-webkit-scrollbar-thumb {
    background-color: rgb(68, 68, 68);  
    border-radius: 10px;       
    border: 3px solid rgb(62, 62, 62);  
}

.title-weight-water > p{
    font-size: 30px;
    margin: 20px;
}

.weight-water-style{
    display: flex;
    justify-content: center;
}

.title-general-hero > p{
    font-size: 44px;
    margin-left: 40px;
    margin-top:15px;
}

.title-counter-sleep p,
.title-contakcal > p,
.title-weight-water > p ,
.title-news > p,
.title-calendar > p{
    font-size: 28px;
    margin-left: 44px;
    margin-top:15px;
}


.central-container-hero-right-top{
    display: flex;
    margin-bottom: 20px;
}

.central-container-hero-rigth-bot{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.weight-component{
    width: 400px;
}

.water-component{
    width: 300px;
}

.counter-sleep-style{
    padding-top: 20px;
}

@media screen and (max-width:600px) {
    .counter-sleep-style{
        display: block;
    }
  
    .hero-container{
        background-position-x: -202px;
        background-position-y: 414px;
    }

    .weight-water-style{
        display: flex;
        flex-direction: column;
    }
}